default_stages: [pre-commit, pre-push]
default_language_version:
  python: python3
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=6000']
        exclude: ^.venv/
      - id: check-merge-conflict
        exclude: ^.venv/
      - id: check-toml
        exclude: ^.venv/
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^.venv/
      - id: debug-statements
        exclude: ^\.venv/
      - id: detect-private-key
        exclude: ^.venv/
      - id: end-of-file-fixer
        exclude: ^.venv/
      - id: name-tests-test
        exclude: ^(tests/config\.py|tests/build\.py|\.venv/)
      - id: trailing-whitespace
        exclude: ^\.venv/
  - repo: local
    hooks:
      - id: check-poetry
        exclude: ^(.venv/|src/hmc/dataset/datasets/gofun/dataset_arff\.py|src/hmc/train/train_global\.py)$
        name: Poetry check
        description: Validates the structure of the pyproject.toml file
        language: python
        entry: poetry check
        pass_filenames: false
        files: pyproject.toml
        always_run: true
        additional_dependencies: [poetry]
      - id: autopep8
        exclude: ^(.venv/|src/hmc/dataset/datasets/gofun/dataset_arff\.py|src/hmc/train/train_global\.py)$
        name: Autopep8
        language: python
        entry: autopep8 --in-place --recursive .
        types_or: [python, pyi]
      - id: pylama
        exclude: ^(.venv/|src/hmc/dataset/datasets/gofun/dataset_arff\.py|src/hmc/train/train_global\.py)$
        name: Pylama Lint
        language: python
        entry: poetry run pylama src
        types_or: [python, pyi]
      - id: pylint
        exclude: ^(.venv/|src/hmc/dataset/datasets/gofun/dataset_arff\.py|src/hmc/train/train_global\.py)$
        name: Pylint Lint
        language: python
        entry: pylint $(git ls-files '*.py')
        types_or: [python, pyi]
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: [--line-length=88]
        exclude: ^.venv/
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --ignore=E203]
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
        exclude: ^(.venv/|src/hmc/dataset/datasets/gofun/dataset_arff\.py|src/hmc/train/train_global\.py)$
